env/
__pycache__/
api/__pycache__/
frontend/__pycache__/
stores/__pycache__/
products/__pycache__/
api/__pycache__/views.cpython-38.pyc
api/__pycache__/views.cpython-38.pyc
frontend/__pycache__/views.cpython-38.pyc
accounts/__pycache__/models.cpython-38.pyc
api/__pycache__/urls.cpython-38.pyc
api/__pycache__/views.cpython-38.pyc
products/__pycache__/admin.cpython-38.pyc
stores/__pycache__/models.cpython-38.pyc



*.pyc
