{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <!-- <link rel='stylesheet' type='text/css' media='screen' href='App.css'> -->   
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% block content %}
        <div class="centeredDiv headingDiv">
            <span class="headingSpan" style="font-weight: 500;color: #fff;"> Let's Add products for you in your online store
            </span>
        </div>

        <div class="">
            <div class="ui ordered two steps tabular menu">
                <div id="product_info" class="active step" data-id="productInfoTab" data-tab="productInfo" onclick="OpenTab('product_info')">
                  <i class="user plus icon"></i>
                  <div class="content">
                    <div class="title">Add Product & Save Basic Information</div>
                    <div class="description">The products added here will be displayed to seeking customers</div>
                  </div>
                </div>
    
                <div id="product_details_step" class="disabled step" data-tab="productDetails" onclick="openTab('product_details')">
                  <i class="payment icon"></i>
                  <div class="content">
                    <div class="title">Enter Product Details</div>
                    <div class="description">For the convinience of customers add details of the product</div>
                  </div>
                </div>
    
                <!-- <a class="item step" data-tab="taxInfo">
                  <i class="info icon"></i>
                  <div class="content">
                    <div class="title">Confirm Order</div>
                  </div>
                </a> -->
              </div>
        </div>

        <div class="" style="margin: 55px;">
            <div id="product_infotab" name="productInfo" class="ui tab active" data-tab="productInfo">
                    <div class="ui form" id="product_form">
                        <h4 class="ui dividing header headLabel">Name & Category</h4>
                            <div class="fields">
                            <div class="six wide field">
                                <div class="required inline field">
                                <label>Product Name</label>
                                <span id="nameerrorLabel" class="ui left pointing red basic label promptLabel" >Product Name is required</span>                                            
                                </div>
                                <input type="text" id="product_name">                               
                            </div>                          
                          <div class="seven wide field">
                                <div class="required inline field">
                                <label>Product Type</label>
                                <span id="typeerrorLabel" class="ui left pointing red basic label promptLabel" >Product Type is required</span>                                            
                                </div>
                                <select id="select-prodtype" onchange="UpdateForm1()">
                                    <option value="0">Select Product Category</option>
                                    {% for category in productcategories %}                                    
                                    <option value="{{category}}">{{category}}</option>
                                    {% endfor %}
                                </select>
                            </div>                          
                        </div>
                        <!-- <div class="">  -->
                        <h4 class="ui dividing header headLabel">Product Images</h4>
                        <!-- <a>Product Image guidelines and tips</a> </div> -->                      
                            <div class="fields">
                                <div class="four wide field">                          
                                    <div class="required field">
                                    <label>Upload Front Image of the product</label>
                                    <span id="frontimage_errorLabel" class="ui left pointing red basic label promptLabel">This Field is required</span>                                            
                                        </div>
                                    <input type="file" id="product_image_front" onchange="process(this.id)">                                   
                                   
                                    <a class="ui image" onclick="">
                                      <img id="output_product_image_front" />
                                      <!-- <button class="ui orange button shortButton" onclick="">Preview</button> -->
                                      <!-- <label class="ui bottom attached label" onclick="">Preview</label> -->
                                      <!-- <div class="ui top attached label">HTML</div> -->
                                      <!-- <label class="ui bottom attached orange label anchorlabel">Preview</label> -->
                                    </a>
                                </div>                           
                                <div class="four wide field">
                                    <div class="required field">
                                    <label>Upload Rear Image of the product</label>
                                    <span id="frontimage_errorLabel" class="ui left pointing red basic label promptLabel">This Field is required</span>
                                    </div>
                                    <input type="file" id="product_image_rear" onchange="process(this.id)">
                                    <a class="ui image " onclick="">
                                        <img id="output_product_image_rear" />
                                        <!-- <label class="ui bottom attached orange label anchorlabel">Preview</label> -->
                                      </a>
                                    </div>
                                                                       
                                   
                                                        
                                <div class="four wide field">
                                    <div class="required field">
                                    <label>Upload Side Image of the product</label>
                                    <span id="frontimage_errorLabel" class="ui left pointing red basic label promptLabel">This Field is required</span>
                                    </div>
                                    <input type="file" id="product_image-side" onchange="process(this.id)">                                                                
                                    <a class="ui image " onclick="">
                                      <img id="output_product_image-side" />
                                      <!-- <label class="ui bottom attached orange label anchorlabel">Preview</label> -->
                                    </a>
                                    </div>
                                  
                                                   
                              <div class="four wide field">
                                  <label>Guidelines for Image Uploading</label>
                                <p>
                                    <ul>
                                        <li> <i> Please make sure that the image uploaded is of best quality and in relevance to the product </i></li>
                                        <li><i>Ensure that the image is perfectly cropped and has preferably white background</i></li>
                                        <li>Preferable Dimensions:
                                        <i>Width not less than 900px & Height not less than 950px</i>
                                        <i>Width should not exceed 4800px & Height should not exceed 5000px</i>
                                        </li>
                                    </ul>                                  
                                </p>
                              </div>
                                                    
                            </div>       

                            <h4 class="ui dividing header headLabel">Price & Manufacturer</h4>
                            <div class="fields">                              
                                <div class="five wide field">
                                    <div class="required inline field">
                                    <label>Product Price</label>
                                    <span id="typeerrorLabel" class="ui left pointing red basic label promptLabel" >Product Price is required</span>                                            
                                    </div>                                
                                                                                                    
                                    <div class="inline field">
                                     <i class="rupee sign icon big"></i>
                                     <input id="product_price" type="text" maxlength="12" type="number" style="width: 255px;" placeholder="0.00" onkeypress="return isNumberKey(this, event);" pattern="^\d*(\.\d{0,2})?$">
                                    </div>
                                </div>                                
                                <div class="five wide field">
                                    <label>Name of Manufacturer</label>
                                    <input type="text" id="manufacturer_name">
                                </div>    
                                <div class="five wide field">
                                    <label>Name of Brand (If any)</label>
                                    <input type="text" id="brand_name">
                                </div>                              
                            </div>          
                                                              
                    </div>
                    <div class="centeredDiv">                                    
                    <button class="ui blue button submitBtn" onclick="ProceedStep2()">Proceed to next Step</button>
                    </div>                    
            </div>           
          
                <div id="preview_modal" class="ui modal" style="overflow:scroll;">
                    <i class="close icon"></i>
                  
                        <!-- <div class="description">
                            <div class="ui header">Here is the image you selected which has resolution of <span id="resolution"></span> </div>
                         
                          </div> -->

                          <div class="actions" style="margin-top: 15px;">
                            <div class="ui header">Here is the image you selected.Do you want to keep this </div>
                            <div class="ui black deny button">
                              Yes Its Fine
                              <i class="checkmark icon"></i>
                            </div>
                            <div class="ui positive right labeled icon button">
                              Discard & Select Other                             
                            </div>
                          </div>
                          <div class="image content">
                          <div class="ui image">
                            <img id="modal_preview">
                          </div>                   

                      </div>
                   
                </div>
                 
                 

                
               
        </div> 

        <div class="" style="margin: 55px;">
                <div id="product_details_tab" class="ui tab" data-tab="productDetails" onload="">      
                    <div class="ui form" id="product_details_form">
                        <div class="fields" id="">
                        <div class="five wide field">
                            <div class="field">
                            <label>Product Specific Name</label>                     
                            </div>
                            <input type="text" id="product_specific_name" value="" readonly>                                            
                        </div>    
                        <div class="one wide field"></div> 
                        <div  id="product_details_div" class="seven wide field">

                        </div>    
                        </div>
                    
                        <div class="" id="product_details_div2">
                            
                        </div>
                        
                            
                                                                                            
            
                <div class="fields" id="appearance_details">
                    <div class="three wide field">
                        <div class="inline required field">
                            <label>Colors </label>
                            <span id="colorserrorLabel" class="ui left pointing red basic label promptLabel">Mention Product Colors</span>                                            
                    </div>
                    <input type="text">
                    </div>                                           
                    <div class="four wide field">
                        <label> Quantity Available </label>                   
                        <div class="inline field">
                            <input type="text">
                        <button class="small ui blue compact icon button" onclick="plusminusValue('no_of_pockets','+')">
                            <i class="plus icon"></i>
                            </button>
            
                        <button class="medium ui blue compact icon button" onclick="plusminusValue('no_of_pockets','-')">
                        <i class="minus icon"></i>
                        </button>
                    </div>
                    </div>
                
                </div> 
                <div class="fields">
                    <div class="five wide field">                  
                        <label>Product Description</label>
                        <textarea id="product_description" placeholder="Describe here about the Product in few words."></textarea>                                     
                    </div>
                </div>
                </div>   
                    <div class="centeredDiv">
                    
                        <button class="ui grey button submitBtn" onclick="OpenNextStep()">
                            Step Back & Edit Product Info</button>
                            <div style="width: 200px;"></div>
                        <button class="ui button successBtn submitBtn" onclick="SaveProduct()">
                                Save Product </button>
                    </div>  
               </div>            
            </div>      

        </div>     
        </div>       
        <script src="{% static 'js/Products.js' %}"></script>  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.js"></script>
        <script>
          
        </script>             
        {% endblock %}       
    </body>
  
 </html>