<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form>
    <h4 class="ui dividing header">Shipping Information</h4>
    <div class="field">
      <label>Name</label>
      <div class="three fields">
        <div class="one field">
          <input type="text" name="shipping[first-name]" placeholder="First Name">
        </div>
        <div class="field">
          <input type="text" name="shipping[last-name]" placeholder="Last Name">
        </div>
      </div>
    </div>
    <div class="field">
      <label>Email</label>
      <div class="fields">
        
        <div class="twelve wide field">
          <input type="text" name="shipping[address]" placeholder="Street Address">
        </div>
        <div class="four wide field">
          <input type="text" name="shipping[address-2]" placeholder="Apt #">
        </div>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>State</label>
        <select class="ui fluid dropdown">
          <option value="">State</option>
      <option value="AL">Alabama</option>
      <option value="AK">Alaska</option>
      </select>
      <select>
          <option></option>
      </select>
      </div>
    </form>
</body>
</html> 