{% extends 'base.html' %}

{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="{%static 'css/Signup.css'%}">
        <link rel="stylesheet" type="text/css" href="{%static 'css/App.css'%}">
    </head>

    <body>
        {% block content%}

        <div class="centeredDiv headingDiv">
          <span class="headingText">Login to your Vcnity account</span>
        </div>
        {% include 'Modal.html' %}
          <div class="container" style="padding: 100px;">       
            {% include 'Message.html' %}
        <div class="ui column stackable center page grid">
            <div class="four wide column"></div>
            <form class="ui ten wide column form" >
                  <div class="fields"> 
                    <div class="twelve wide field">     
                      <div class="required inline field">
                              <label>Login with Mobile number or Email</label>                                 
                              <span id="enterNameLabel" class="ui left pointing red basic label" style="display: none;">Invalid Mobile number or Email</span>             
                      </div> 
                             <input type="text" id="logincredInput" name="name" placeholder="Enter Mobile number or Email" maxlength="70">
                    </div>
                 
                  </div>
                  <div class="fields"> 
                    <div class="twelve wide field">     
                      <div class="required inline field">
                              <label >Password</label>                                 
                              <span id="enterNameLabel" class="ui left pointing red basic label" style="display: none;">Please Enter First Name</span>             
                      </div> 
                             <input type="text" id="logincredInputpw" name="name" placeholder="Enter Password here" maxlength="70">
                    </div>
                 
                  </div>
              </form>            
        </div>
        <div class="centeredDiv"><span>New to Vcnity? <a href="/SignUp"> Signup from here</a></span></div>
        <br/>
        <div class="centeredDiv">
          <button class="ui button submitBtn successBtn" onclick="Login()">Login</button>
        </div>
      </div>

      <script src="{% static 'js/Misc.js' %}"></script>   
        {%endblock%}
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    </body>
</html>