{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='App.css'>
    <script src="{% static 'js/App.js' %}"></script>
</head>
<body>
    {% block content %}

    <div class="centeredDiv headingDiv">        
      <span class="headingSpan" style="font-weight: 500;color: #fff;"> Providing the below details will help us to create your online Store and help customers reach you efficiently !</span>
  </div>
    <div class="">
        <div class="ui steps tabular menu">
            <a class="item step active" data-id="sellerInfoTab" data-tab="sellerInfo" onclick="openTab('sellerInfo')">
              <i class="user plus icon"></i>
              <div class="content">
                <div class="title">Register as a Seller</div>
                <div class="description">To create an Online Store we need some details regarding Seller Profile</div>
              </div>
            </a>

            <a class="item step" data-tab="storeInfo" onclick="openTab('storeInfo')">
              <i class="payment icon"></i>
              <div class="content">
                <div class="title">Store/Shop Information</div>
                <div class="description">Store/Shop Information is required for pickup of items</div>
              </div>
            </a>

            <a class="item step" data-tab="taxInfo">
              <i class="info icon"></i>
              <div class="content">
                <div class="title">Confirm Order</div>
              </div>
            </a>
          </div>

          <div id="sellerInfo" name="sellerInfo" class="ui tab active" data-tab="sellerInfo">            
            <form class="ui form">
                <!-- <h4 class="ui dividing header">Shipping Information</h4> -->
                <div class="ui header centeredDiv formheadingDiv">
                  <span class="formheadingSpan"> Seller Contact Information </span>
                 </div>
                <div class="field">
                  <label>Enter your Full Name as per the Official Identity Card</label>
                  <div class="two fields">
                    <div class="field">
                      <input type="text" name="shipping[first-name]" placeholder="First Name">
                    </div>
                    <div class="field">
                      <input type="text" name="shipping[last-name]" placeholder="Last Name">
                    </div>
                  </div>
                </div>
                <div class="field">
                  <h4>Communication Info</h4>
                  <div class="fields">
                    <div class="four wide field">
                      <div class="required inline field">
                        <label>Primary Email</label>  
                       
                      </div>
                        <div class="">
                          <input type="email" name="email" id="emailInput" placeholder="Enter Your Email Id"  onchange="validateEmail()" maxlength="55" value="{{email}}">
                        </div>   
                    </div>
                    <div class="four wide field">
                      <div class="required inline field">
                        <label> Primary Mobile number </label>  
                       
                      </div>
                      <div class="">
                      <input type="text" name="shipping[address-2]" placeholder="Enter Your Primary Mobile number">
                      </div>
                    </div>
                   
                  </div>
                </div>
                <div class="two fields">
                  <div class="four wide field">
                    <div class="inline field">
                      <label >Secondary Email (Optional)</label>  
                     
                    </div>
                    <div class="">
                    <input type="text" name="shipping[address-2]" placeholder="Enter Your Primary Mobile number">
                    </div>
                  </div>
                  <div class="four wide field">
                    <div class="inline field">
                      <label> Secondary Mobile number (Optional)</label>  
                     
                    </div>
                    <div class="">
                    <input type="text" name="shipping[address-2]" placeholder="Enter Your Primary Mobile number">
                    </div>
                  </div>
                  
                </div>              
             
               
              </form>    
              <div class="centeredDiv">
                <button class="ui button successBtn submitBtn formheadingSpan">Save & Next</button>
              </div>              
          </div>


          <div name="storeInfo" class="ui tab" data-tab="storeInfo">
            
            <form class="ui form">
                <div class="ui header centeredDiv formheadingDiv">
                 <span class="formheadingSpan"> Shop & Organization Details </span>
                </div>
                  <br/>
                  <div class="fields">
                  
                    <div class="four wide required field">
                      <label class="">Enter Name of your Shop</label>
                      <input type="text" name="shipping[first-name]" placeholder="Shop/Store Name">
                    </div>
                   
                    <div class="six wide required field">
                      <label class="">Choose Product Category (You may choose multiple items found in your Shop)</label>
                      <select class="ui dropdown">
                        <option value="0">Select Product Categories</option>
                        {% for category in categories %}

                        <option value="{{state}}">{{category}}</option>

                        {% endfor %}                   
                      </select>
                    </div>
                  </div>
              

               
                 <div class="fields">
                    <div class="four wide inline required field">
                       <label class="">Is Your Shop registered under GST ?</label>
                    </div>
                    <div class=" inline field">
                    <input type="radio" name="isgstregisterd" value="1" onclick="CheckGSTINEntry(this.value)" > <label>Yes</label>
                    </div>
                    <div class="inline field">
                    <input type="radio" name="isgstregisterd" value="0" onclick="CheckGSTINEntry(this.value)"> <label>No</label>
                    </div>
                    <div class="four wide field"> 

                    </div>
                    <div class="inline field">
                      <!-- <div class=""> -->
                    <label>Why is it necessary to provide GSTIN number at vcnity.online ?</label>
                     <!-- </div> -->
                    </div>
  
                 </div>
                
            
                <div class="field">
                 <div class="fields">
                   <div class="four wide required field hidden gstinEntry">
                       <label>Enter your 15 digit GSTIN number</label>
                       <input placeholder="" onkeyup="checkGSTIN()">
                  </div>
                   <!-- <div class="inline field">
                   <input type="radio"> <label>Yes</label>
                  </div>
                   <div class="inline field">
                   <input type="radio"> <label>No</label>
                  </div> -->
                 </div>


                </div>
                <br/>

                <div class="ui header centeredDiv formheadingDiv">
                  <span class="formheadingSpan"> Shop/Store Location (Required for correspondence and pickup of items) </span>
                 </div>
               
                <br/>
                <div class="fields">
                
                  <div class="four wide required field">
                    <label>State</label>
                    <select class="ui dropdown">
                      <option value="0">Select State</option>
                      {% for state in states %}
                      
                      <option value="{{state}}">{{state}}</option>
                      {% endfor %}
                 
                    </select>
                  </div>

                 
                  <div class="four wide required field">
                         <label>City</label>
                      <input placeholder="Enter the city in which Shop is Located">                
                  </div>


                  
                  <div class="three wide required field">     
                    <label>Pincode </label>               
                    <input type="text" name="pincode" placeholder="Pincode of your Shop">
                  </div>
                 
                </div>
                <div class=" fields">
                  
                  <div class="six wide field">
                      <label>Address (Details like Shop Number, Market name etc.)</label>
                      <input placeholder="Enter the city in which Shop is Located">                
                  </div>

                  <div class="four wide field">
                      <label>Nearest Landmark</label>
                      <input placeholder="Enter the city in which Shop is Located">                
                  </div>

                
                </div>                                   
              </form>
                    <div class="centeredDiv">

                      <button class="ui button successBtn submitBtn formheadingSpan">Save & Next</button>
                    </div>
          </div>


          <div name="taxInfo" class="ui tab" data-tab="taxInfo">
            
            <form class="ui large form">
              
                  
                  </form>
                  tax info
          </div>

        </div>
        <script src="{% static 'js/Seller.js' %}"></script>
    {% endblock %}
</body>
</html>
<!-- ui bottom attached active tab segment -->