*{

}

#task-container{           
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);     
   background: #1abc9c;      
   }    

   #form-wrapper{
      position: -webkit-sticky;
      position: sticky;
      top: 0rem;
      border-bottom: 1px solid red;
      background-color: orange;
      box-shadow: 0 3px 8px rgba(0,0,0,0.25);
      padding: 40px;
   }

   .navbar{
        
   }

    .navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  background-repeat: no-repeat;
  }

.page-header{
  padding: 3% 3% 3% 1%;              
  color: white;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color:  rgb(52, 73, 94);
  background-image: linear-gradient(to bottom right,rgb(197,5,130,1), rgb(114,3,75,0.2));
}

.header>div{
align-items: center;
margin: 5px;
}

.sidenav {
height: 100%; /* 100% Full-height */
width: 0; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: 1; /* Stay on top */
top: 0; /* Stay at the top */
left: 0;
/*background-color: rgb(81, 81, 111); nice    /* rgb(52,54,101); Black*/
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 60px; /* Place content 60px from the top */
transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
background-color:rgb(236, 235, 213);
}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color:rgb(77, 86, 86);
display: flex;
flex-flow: column wrap;
transition: 0.3s;
}

.sidenav a:hover {
color: rgb(244, 208, 63);
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

.hb{
width: 40px;
height: 5px;
background-color:rgb(240, 240, 208);
margin: 6px 0;
}

.hamburger{
  
}

.searchDiv{
  position: relative;
}

.searchImg {
  bottom: 6px;
  position: absolute;
  height: 85%;
  width: 16%;
 left:265px;
  width: 24px;
  height: 24px;
}

  .searchBox {
  height : 20px;
  padding: 5%;       
  padding-right: 30px;
  width: 137%;
}
  .professionType{
      /* display: flex;
      flex-direction: row; */
      background-color: rgb(244, 208, 63);
      /* justify-content: space-around;
      flex-wrap: wrap; */
  }

  /* .submitButton{
      background-color:  grey;  /* rgb(229, 134, 22 ); 
      color: #fff;
      width: 90%;
  } */

  .professionType > form > input{
      width: 50%;
      padding: 1%;
  }
  .shopProducts{
      display: flex;
      justify-content: space-around;
      background-color:rgb(236, 240, 241 );     
      flex-wrap: wrap;
      padding: 3%;
  }

  /* .shopProducts > div > img{
      width: 35%;
      background-color: black;
      height: 95%;
  } */

  .shopProducts > div{
    
    align-self: stretch;
    cursor: pointer;
    width: 300px;
    height: 200px;
    background-size: contain;
    margin: 20px;
  }

  .headLabel{
  font-family: system-ui;
  font-weight: 600;
  font-size: 20px; 
  line-height: 2.25;
  white-space: nowrap;
  }

  

  .formcontainer{
                  display: flex;
                  flex-direction: row;
              }

  .formcontainer>div{
      align-items: baseline;
      padding: 16px 50px 20px 45px;
  }

              .formcontainer > input{
                  margin: 0 46px 4px 39px;
                  
              }
              .headinglabel{
                    margin: 5px 40px 39px 2px;
                    font-size: 20px;
                    font-weight: 600;
              }

              /* input{
                  /* margin-left: 200px; 
                  height: 18px;
                  width: 180px;
                  padding: 6px 10px 6px 6px;
              } */

              select{
                  /* margin-left: 200px; */
              }

              /* input:focus{
              
              border: 2px solid green !important;       
              border-radius: 4px;    
              } */

              .inputDetails{
                line-height: 2;
                margin-bottom: 16px;
                transition: width 0.5s ease-in-out;
                border: 1px solid black;
                -webkit-transition: 0.5s;
                transition: 0.5s;
                outline: none;
                margin-top: 6px;
              }

             

              .selectDetails{
                width:180px;
                height: 30px;
                margin-bottom: 16px;
              }

              .submitButton{
                padding: 10px 15px 10px 15px;
                background-color: rgb(135, 196, 19);
                border: 2px solid rgb(104, 156, 58);
                width: auto;
                cursor: pointer;
                height: 90%;
                width: 20%;
                color: #fff;
                letter-spacing: .12em;
                border-radius: 15px;
                text-align: center;
                font-style: Belgrano;
              }

              /* .submitButton:hover{
              
               font-weight: bold;
              } */

              .submitButton:active{
                transition: 0s;
                -webkit-transition: 0s;
                opacity: 0.5 ;
                height: 100%;
                
              } 

               .submitButton:active::after{
                -webkit-transition: 0s;
  opacity: 1;
  transition: 0s;
  height: 110%;
  
              } 

.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 18px 10px 9px 13px;
  margin-top: 0;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  top: 500px;
  }
  
  .prev{
    right: 35%;
  }

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

.imgClick{
  background-size: 100%;
  cursor: pointer;
}

.productDesc{
  align-self: stretch;
  cursor: pointer;
  width: 300px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer{
  background-color: black;
}

a{
  font-weight: bold;
}

.heading{
  display: flex;
  justify-content: center;  
  color:  rgb(98, 153, 151);
}

.formDiv > div{
  margin: 20px 18px 50px 20px}

footer{
  text-align: center;
}
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

#storeListDiv>div{
  margin: 32px 34px 35px 35px ;
}

.card-container {  
  display: flex;
  /* background-color: #100e17; */
  background-color: rgb(236, 240, 241 );
  padding: 1rem;
  flex-wrap: wrap;
}

.card {
  /* min-width: 300px; */
  height: 325px;
  border-radius: 16px;
  background-color: #fff;
  /* background-color: #17141d; */
  /* box-shadow: -1rem 0 3rem #000; */
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  transition: 0.2s;
  margin: 20px;
  width: 300px;
}

.date {
  color: #8a8a8a;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0 1rem;
}

.tags div {
  font-size: 9px;
  font-weight: 700;
  padding: 4px 10px;
  border: 3px solid #28242f;
  border-radius: 2rem;
}

.card .category-title {
  font-size: 14px;
  color: black;
  margin-bottom: 1rem;
}

.card .article-title {
  font-size: 20px;
  font-weight: 700;
}

.card .article-header {
  margin-bottom: auto;
}

.card .author {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 75px 1fr;
}

.author .info .caption {
  color: #8a8a8a;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* color: #fff; */
}

.labelcontainer > label{
  line-height: 2.8 ;
  
}
label{
  font-family: 'Barlow';
}

/* li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li input {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
} */

.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 14px;
}

.flex-outer>li>label + *,
.flex-inner {
  flex: 0.2 0 220px;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 0.2 0 55px;
  max-width: 220px;
  font-weight: bold;
  font-size: 16px;
}

.errorLabel{
  color:rgb(254, 106, 99);
  font-weight:500;
  line-height: 0;  
  /* font-family: 'Barlow'; */
}

/* .flex-outer li button {
  
  padding: 8px 16px;
  border: none;
  background: rgb(26, 209, 96);
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .12em;
  border-radius: 15px;
} */

.msg-container{
  font-weight: 500;
  font-size: 18;
  display: flex;
  justify-content: center;
}

.errormsg{
  color:rgb(254, 106, 99);
  
}

.successmsg{
  color:rgb(104, 156, 58)
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  height: 55%;
 
}

.modal-content>div>p{
  font-size: 18px;
  font-weight: 500;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.verifyInput{
  margin: 10px;
  border-style : solid;
}

.verifyButton{
  background-color: rgb(0, 137, 255);
  color: #fff;
  height: 35px;
  width: 160px;
  border-radius: 50px;
  border-style: none;
  margin-left: 25px; 
  margin-top: 10px; 
  pointer-events: auto;
}

.verifyButton::after{
  border-style: none;
  border-radius: 50px;
}

.verifyOTP{
  height: 30px;
  width:30px;
  padding: 7px;
  margin-top: 15px;
  margin-right: 5px;
  align-self: flex-end;
}

.verify-div{
  margin-top: 15px;  
}

.verify-div > label{
  font-size: 17px;
  font-weight: 500;
line-height: 1.4;
}

.loader{
  background-color: #fff;
  
}

.activebtn{
  background-color: rgb(0, 137, 255);
  color: #fff;
  height: 38px;
  width: 130px;
  border-radius: 50px;
  border-style: none;
  margin-left: 25px; 
  margin-top: 10px; 
  pointer-events: auto;
}

.loaderSpan{
  font-size: 16px;
}

.loader + label{
  margin-left: 15px;
  color:rgb(104, 156, 58) ;
  font-weight: bold;
  letter-spacing: 0.5px;
}

form{
  padding: 27px;
}

form input{
  border : 1.5px solid black!Important;
  margin-top: 4px;
}

.ui.form .field>label{
  letter-spacing: 0.4px;
  font-size: 15px;
}

.inline.field>label:first-child{
  letter-spacing: 0.4px;
  font-size: 15px!Important;
}

::placeholder {
  color : black;
}

.centeredDiv{
display: flex;
justify-content: center;
}

.ui.container{
  margin-right: 0!Important;
}

.icon{
  padding:0px;
  background:slategray;
}