{%load static %}
{%static "images" as baseUrl%}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  
  <title>{% block  title %} {% endblock %}</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="{%static 'css/App.css'%}">
  
  <link href='https://fonts.googleapis.com/css?family=Barlow' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet'>

  

  <div class="page-header">

    <div class="hamburger">
      <a onclick="openNav()">
        <div class="hb"></div>
        <div class="hb"></div>
        <div class="hb"></div>
      </a>
    </div>

    <!-- <div>
      <img />
      <label style="align-self:flex-start">Vcnity...</label> <br />
      <label>Visit your favourite shops in the city online</label>
    </div> -->
    <!-- <div class="searchDiv">
        <input class="searchbar" type="text" placeholder="What are you searching for ?"></input>
     
          <img src='https://i.ibb.co/gPnyS7Z/search-glass.jpg' class="searchImg"></img>
        
        </div>  -->
    <!-- <div id="demo"></div> -->
    <!-- <div class="ui icon input">
      <input type="text" placeholder="Search...">
    <i class="circular search link icon" onclick="() => {console.log('Searching nearby stalls...')};"></i>
    </div> -->
    <input type="hidden" id="isLocationEdited" value="0">
    <input type="hidden" id="saveLocation" value="">
    <input type="hidden" id="currentEvent" value="">
    <input type="hidden" id="" value="">
    
    <div class="ui menu" style="margin-left: 52px;">
      <div class="item">
        
    <div class="ui category search">
      
      <div class="ui small icon input">
        
        <!-- <i class="location arrow icon link" onclick="() => {  }">Edit</i> -->
        <i id="detectLocation" class="crosshairs icon link" onclick="FetchCitynPin(event)"></i>       
        <input id="locationCity" class="prompt " type="text" style="width: 200px;" value="Lucknow, Charbagh" placeholder="">    
        <input id="locationPin" class="prompt " type="text" style="width: 130px;" value="208012" placeholder="">     
        
           
      </div>     
      <!-- <span id="" class="ui black basic label">Pincode</span>     -->
      <!-- <div class="ui small icon input">
        
        
      </div> -->
    </div>
      </div>

      <div class="right item">
    <div class="ui category search">
      <div class="ui large icon input">
        <input class="prompt searchInput" type="text" placeholder="Search Shops,Stores and Products..." onchange="SearchShopsProducts()">
        <i class="search icon link" onclick="SearchShopsProducts()"></i>
      </div>
      <div class="results"></div>
    </div>
     </div>
  </div>
   {% include 'Navbar.html'%}
  </div>
</head>

<body>
  <!-- <div class="horizontalmenuDiv headingDiv">        
  
      <button class="ui button whiteBtn">
       <span class="clothing">Clothing & Fashion</span>
      </button>
      <button class="ui button whiteBtn">
      <span class="handicrafts"> Handicrafts</span>
      </button>
      <button class="ui button whiteBtn">
      <span class="kitchen"> Fabrics & Household </span>
      </button>
      <button class="ui button whiteBtn">
      <span class="handicrafts"> Kitchen & Household </span>
      </button>
      <button class="ui button whiteBtn">
      <span class="handicrafts"> Jewellery </span>
      </button>
      <button class="ui button whiteBtn">
     <span class="handicrafts"> Appliances </span>
      </button>
  
</div> -->
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
  
  
    {% block content %}

   
  {% endblock %}
  
  
  <!--footer code starts  -->
  <footer style="position: relative;bottom: 0;width: 100%;height: 35%;background-color: black;">   
      <div style="color: #fff;display: flex;">
        <div>
          <ul style="list-style: none;">
            <li> <a>
              Shop by preference
            </a>
          </li>
          <li>
            <a>
              Shop by Location
            </a>
          </li>
          <li>
            <a>
              Buy a Gift
            </a>
          </li>
          <li>
            <a>
              Change Location
            </a>
          </li>
          </ul>                      
        </div>
        <div>
          <ul>
            <li>

            </li>
          </ul>
        </div>
    </div>

  </footer>
  </div>
 
  <script>
    
    
    // let signupRequest = {
    //   method: 'POST',
    //   headers: {
    //     'Accept': "application/json",
    //     'Content-Type': 'application/json'
    //   },
    //   body: JSON.stringify({
    //     "user": {
    //       "email": email,
    //       "password": password,
    //       "phone": mobile_no
    //     },
    //     "first_name": first_name,
    //     "last_name": last_name
    //   }),
    // };

//     function getCookie(name) {
//     let cookieValue = null;
//     if (document.cookie && document.cookie !== '') {
//         const cookies = document.cookie.split(';');
//         for (let i = 0; i < cookies.length; i++) {
//             const cookie = cookies[i].trim();
//             // Does this cookie string begin with the name we want?
//             if (cookie.substring(0, name.length + 1) === (name + '=')) {
//                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
//                 break;
//             }
//         }
//     }
//     return cookieValue;
// }

    // const csrftoken=getCookie('csrftoken');

 
  </script>
<!-- <script src="{% static 'js/App.js' %}"></script> -->


<script src="{% static 'js/App.js' %}"></script>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.js"></script>
 
  <!-- <script src="semantic/dist/semantic.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>

     

</html>