<div class="ui basic modal">
       <!-- <div class="ui column stackable center page grid "></div> -->
    <div class="ui icon header">
        <i class="thumbs up icon"></i>
        Congratulations! Your account has been successfully created
    </div>
    <div class="ui active centered inline loader" style="background-color: transparent;"></div>
    <div class="content">
      <p>We are Logging you in..</p>
    </div>
    
    <!-- <div class="actions">
      <div class="ui red basic cancel inverted button">
        <i class="remove icon"></i>
        No
      </div>
      <div class="ui green ok inverted button">
        <i class="checkmark icon"></i>
        Yes
      </div> -->
    </div>
  </div>