
 <div class="navbar">
     
    <!-- <input id="demo" placeholder="" /> <i></i> -->
    <style>
      .transparentIcon{
        background-color: transparent!Important;
      }

      i.icon{
        display: inline!Important;
      }
    </style>         
     
           
             <!-- <a >  {{user_name}}'s Vcnity</a> -->
              <a class="hidden"> <span></span>   </a>
             <div id="profileMenu " class="ui vertical menu hidden" style="position: absolute;width:130px;top:85px;">
              <a class="active teal item">
                Inbox
                <div class="ui teal left pointing label">1</div>
              </a>
              <a class="item">
                Spam
                <div class="ui label">51</div>
              </a>
              <a class="item">
                Updates
                <div class="ui label">1</div>
              </a>
              <div class="item">
               
              </div>
            </div>
             <!-- <a style="background-image: url('{{ baseUrl }}/cart.png')" class="imgClick"> -->
              <a class="hidden">
              <i class="shopping cart icon transparentIcon"></i>
              Cart
              </a>  
           
            <a class="hidden" href="../SignUp">      
            <i class="user plus icon transparentIcon">       
            </i>
                Login/SignUp                   
            </a>
            <a class="hidden" href="#">Shop Now</a>
   

   
   
    

    
    
  </div>
